*.prefs
*.dex
*.class
*.cache
*.jar
out/*
doc/*
idea/*
texdoclet_output/*
.idea/*
*~
*.iml
texdoclet/*
test_TREC8_full/*
texdoclet
data/*
results_out/


# =========================
# NetBeans Project Files 
# =========================

build/
dist/
store/
nbproject/
manifest.mf
build.xml
lib/